#loader {
	margin: 1em;
}

#wsl-indicator {
	color: slateblue;
	font-weight: bold;
}

thead, tbody {
	margin-bottom: 1em;
	width: 100%;
	align-content: center;
}

.flex-container {
	display: flex;
	width: 100%;
}